<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tailwind CSS Demo</title>
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <div class="h-screen bg-purple p-4">
    <div class="mx-auto prose prose-lg prose-a:text-cyan-500">
      <h1 class="text-white">Garlic bread with cheese: What the science tells us</h1>
      <p>
        For years parents have espoused the health benefits of eating garlic bread with cheese to their
        children, with the food earning such an iconic status in our culture that kids will often dress
        up as warm, cheesy loaf for Halloween.
      </p>
      <p class="md:text-green 2xl:text-blue">
        But a recent study shows that the celebrated appetizer may be linked to a series of rabies cases
        springing up around the state / country / state / country.
      </p>
    </div>

    <div>
      <h2 class="font-bold text-xl">Tailwind CSS KSS</h2>
      <p class="text-md py-4">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate asperiores consectetur perspiciatis assumenda vitae nam natus quaerat a voluptatibus, maiores recusandae veniam, atque nulla sit quae at porro? Nihil, doloremque. Veniam aliquid rem exercitationem commodi, neque, beatae porro ratione quod quaerat qui facilis, ipsum dignissimos ipsa dicta aut at laudantium.</p>
      <button class="bg-blue text-white px-4 py-1 mt-1">Twitter</button>
    </div>
  </div>
</body>
</html>